
<div class="pramatic_header">
    <div>
        <h1 class="pragmatic_logo" >Pragmatic</h1>
    </div>
    <div class="pragmatic_header_navbar">
    <a href="{% url 'articleapp:list' %}" class="prgmatic_header_nav" style="text-decoration: none; color: black;">
        <span>Articles</span>
        </a>
    <a href="{% url 'projectapp:list' %}" class="prgmatic_header_nav" style="text-decoration: none; color: black;">
        <span>Project</span>
        </a>
        <a href="{% url 'subscribeapp:list' %}" class="prgmatic_header_nav" style="text-decoration: none; color: black;">
            <span>Subscription</span>
            </a>
    {% if not user.is_authenticated %}
    <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="prgmatic_header_nav" style="text-decoration: none; color: black;">
    <span>login</span>
    </a>
    <a href="{% url 'accountapp:create' %}" class="prgmatic_header_nav" style="text-decoration: none; color: black;">
        <span>Signup</span>
        </a>
    {% else %}
    <a href="{% url 'accountapp:detail' pk=user.pk %}" class="prgmatic_header_nav" style="text-decoration: none; color: black;">
        <span>Mypage</span>
    </a>
    <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="prgmatic_header_nav" style="text-decoration: none; color: black;">
        <span>logout</span>
    </a>
    {% endif %}
    </div>
</div>